* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div {
  width: 100%;
}
body {
  background-color: #020303;
  display: flex;
  flex-direction: row-reverse;
  font-family: 'Lato', sans-serif;
}

#login {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #E5E5E5;
  width: 50%;
  height: 100vh;
  font-family: "Lato", sans-serif;
}
.login-container {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 15px;
}

.inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


button {
  border-radius: 5px;
  width: 100%;
  border: none;
  height: 3em;
  font-weight: 700;
  color: #e8e8e8;
  padding: 0.5em;
}

.login {
  background-color: #04c45c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-google {
  background-color: #020303;
  display: flex;
  justify-content: center;
  align-items: center;
}

.google {
  height: 20px;
  width: 20px;
  margin: 0 11px;
}

input {
  height: 3rem;
  border-radius: 5px;
  padding: 20px;
  border: 1px solid #e8e8e8;
  margin-top: 0.3rem;
  width: 100%;
}
input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  margin-right: 10px;
  border: 1px solid #e8e8e8;
}
.check {
  display: flex;
  align-items: center;
}

.title {
  font-family: "Merriweather", serif;
  margin-bottom: 1.3rem;
}

button:hover {
  cursor: pointer;
  border: 1px solid whitesmoke;
}

/* imagens */
#image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F7FAFC;
  width: 50%;
}

.image-container {
  width: 70%;
}

/* Header de imagens */
.image-head {
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 4px;
}

.circles {
  display: flex;
  align-items: center;
}
.circles div {
  width: 13px;
  height: 13px;
  background-color: #3F3D56;
  border-radius: 999px;
  margin: 2px;
}

.stripes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.stripes div {
  width: 18px;
  height: 3px;
  background-color: #3F3D56;
  margin: 2px;
  border-radius: 15px;

}

hr {
  height: 0.2rem;
  background-color: #CACACA;
  border: none;
  border-radius: 5px;
}

/* Grid de imagens */
.grid {
  display: grid;
  grid-template-areas: "one two three" "four five six";
  place-content: center;
  width: 100%;
  margin: 0 auto;
}

img {
  max-width: 90%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 999px;
}

.strong-lines{
  margin-bottom: 15px;
}
.strong-lines p {
  font-size: 1.5rem;
  color:#04c45c;
  text-align: center;
  height: 1rem;
  margin: 0.7rem auto;
  border: none;
  width: 60%;
  border-radius: 10px;
  font-weight: 700;
  /* background-color: #CACACA; */
  line-height: 1rem;
}
.strong-lines p:first-child {
  font-weight: 400;
  width: 40%;
}
@media only screen and (max-width: 1200px) {
  body {
    display: block;
  }
  #image {
    width: 100%;
    padding: 4%;
  }
  .image-container{
    width: 100%;
  }
  .image-head{
    margin-top: 10px;
  }
  #login {
    width: 100%;
    padding: 4%;
  }
  .login-container{
    width: 100%;
  }
}

@media only screen and (max-width: 600px){
  .strong-lines p:first-child{
    width: 100%;
  }
} 